<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
       <div class="container-fluid">
          <a class="navbar-brand" [routerLink] ="['']">Movie Shop</a>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
             <ul class="navbar-nav flex-grow-1">                
                <li class="nav-item">
               
                  o
                </li>
             </ul>
          </div> -->
           <div ngbDropdown class="d-inline-block">
             <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Genres</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
               <button ngbDropdownItem  *ngFor="let genre of genres" [routerLink] ="['Movies/genre/', genre.id]">{{genre.name}}</button>                
             </div>
           </div>
          <a [routerLink] ="['/login']">   
            Login
          </a>
          <a [routerLink] ="['/register']">   
            Register
          </a>
          </div>
       </div>
    </nav>
 </header>